/**
 * E-mergo Triggers Styles
 *
 * @package E-mergo Tools Bundle
 */

.qs-emergo-triggers.requirements-wrapper .requirements {
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	width: 250px;
}

.qv-layout-xsmall .qs-emergo-triggers.requirements-wrapper .requirements {
	width: 200px;
}

.qv-layout-small .qs-emergo-triggers.requirements-wrapper .requirements .header,
.qv-layout-spark .qs-emergo-triggers.requirements-wrapper .requirements .header,
.qv-layout-xsmall .qs-emergo-triggers.requirements-wrapper .requirements .header {
	max-width: none;
}

.qs-emergo-triggers.requirements-wrapper .requirements .trigger-list {
	padding: 20px 0px 0px 20px;
	line-height: 24px;
	text-align: left;
}

.qs-emergo-triggers.requirements-wrapper .requirements .trigger-list .trigger-item {
	width: 230px;
}

.qs-emergo-triggers.requirements-wrapper .requirements .trigger-list .trigger-item.disabled {
	text-decoration: line-through;
	color: #999;
}

.qv-layout-xsmall .qs-emergo-triggers.requirements-wrapper .requirements .trigger-list .trigger-item {
	width: 180px;
}

/* Card-based themes */

.qv-client.qv-card #qv-stage-container .qv-panel:not(.qv-mode-edit) #grid .qv-object-wrapper .qv-object-qs-emergo-triggers {
	border: 0px;
}

.qv-client.qv-card #qv-stage-container .qv-panel:not(.qv-mode-edit) #grid .qv-object-wrapper .qv-object-qs-emergo-triggers .qv-inner-object {
	background: transparent !important;
}
